@charset "utf-8";

html *,
::before,
::after {
  box-sizing: border-box;
}
body{
    margin: 0 auto;
}

header{
    background: #000;
    color: #efefef;
    width:100%;
    display: flex;
    align-items: baseline;
    height: 100%;
}
header h1 {
    width: 20%;
    padding: 0;
    margin-left: 20px;
    line-height: 1;
}
.menu {
    width: 80%;
    display: flex;
    align-content: flex-end;
}
header ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 0 0 auto;
}
header ul li{
    list-style: none;
    padding-left: 20px;
}
header ul li:last-child{
    padding-right: 20px;
}
header ul li a{
    text-decoration: none;
    color: #efefef;
}

.twoclm{
    display: flex;
    margin: 20px;
}
.box {
    height: 70vh;
}
.box.left {
    width: 70%;
    background: #99ffff;
}
.box.right {
    width: 30%;
    background: #33ccff
}

footer {
    display: flex;
    width: 100%;
    background: #000;
    color: #efefef;
}
footer .copy {
    width: 60%;
    text-align: end;
    margin-right: 20px;
}
footer .since {
    width: 40%;
    margin-left: 20px;
}